{
  "extends": "airbnb",
  "rules": {
    "new-cap": 0,
    "func-names": 0,
    "vars-on-top": 0,
    "no-param-reassign": 0,
    "no-use-before-define": ["error", { "functions": false }],
    "space-before-function-paren": 0,
    "no-console": 0,
    "dot-notation": 0,
    "prefer-arrow-callback": 0,
    "max-len": 0
  },
  "globals": {
    "describe": true,
    "it": true,
    "xit": true,
    "before": true,
    "after": true
  }
}
